@font-face {
    font-family: 'Verdana';
    src: url('verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Verdana';
    src: url('verdana-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Verdana';
    src: url('verdana-bold-italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  


  body {
    font-family: verdana, sans-serif;
    text-shadow: black 3px 0 10px;
    color: white;
    background-image: url(../media/moon.png);
    background-color: black;
    background-size: 30%;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
  }


 a {text-decoration: none; color:white}
 a:hover {color: yellow}

 .back {text-align: left; font-weight: bold;}
 .b {font-weight: bold}
 h2.highlight {color: yellow;}

   /*this is used for auto resizing*/
   div {width: 50%; margin: 0 auto;}
   @media (max-width: 768px) {div {width: 100%;}}