body {font-family: verdana, sans-serif;text-align: center; color: white; background-image: url(../media/background/rainbow-darker.png);background-repeat: repeat-y; background-size: 100%;}
button {font-family: 'Verdana',sans-serif; box-shadow: 0 0 10px white; border-width: 2px; border-color: white; border-radius: .25rem; border-style: solid; background:none; color:white}
button:hover {text-shadow: 0 0 10px yellow; box-shadow: 0 0 10px yellow; border-color:yellow; color:yellow; cursor:pointer}
button:active {box-shadow: none;}
button:disabled {text-shadow: 0 0 10px #FFFFFF9D; box-shadow: 0 0 10px #FFFFFF9D; border-color:#FFFFFF9D; color:#FFFFFF9D; cursor:not-allowed}

table {border: 1px solid white; border-collapse: collapse; margin: auto;}
th, td {border: 1px solid}
li {text-align: left;}
dd {text-align: left;color:#FFFFFF9D}

mark {background-color:white;color:black}
img {width: 100%}
div.div {width: 100%;}
a {text-decoration: none; color:white;font-weight: bold;}
a:hover {color: yellow}
a:active {box-shadow: none;}
.back {text-align: left;font-weight: normal}
.hidden {color:#FFFFFF9D}

div {width: 40%; margin: 0 auto;}
@media (max-width: 768px) {div {width: 100%;}}
