body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #232a34;
  background-size:auto;
  color:white;
  background-image: url('../img/stars.gif');
  background-repeat: repeat;
}

h1, h2, li, p, div {text-align: center;}
h1 {text-shadow: 0 0 10px rgb(255, 255, 255);}
a {text-decoration: none; color:white}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}

div {
    position: sticky;
    border-style: solid;
    border-width: 5px;
    border-spacing: 2px;
    backdrop-filter: blur(1px);
    padding: 4px;
    max-height: 200px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
  }