body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("img/clouds.jfif");
  background-size:auto;
  color:white;
}

h1, h2, li, p, div {text-align: center;}

a {text-decoration: none;}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}

div {
    position: sticky;
    border-style: solid;
    border-width: 5px;
    border-spacing: 2px;
    padding: 4px;
    max-height: 200px;
    max-width: 70%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
  }

