@font-face {font-family:'Roboto';src:url('/meta/font-roboto.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face {font-family:'Roboto';src:url('/meta/font-roboto-italic.ttf') format('truetype');font-weight:normal;font-style:italic;}
@font-face {font-family:'Roboto';src:url('/meta/font-roboto-bold.ttf') format('truetype');font-weight:bold;font-style:normal;}
@font-face {font-family:'Roboto';src:url('/meta/font-roboto-bold-italic.ttf') format('truetype');font-weight:bold;font-style:italic;}


body {margin:0;background-image: url(/media/background/tile-corners-and-circles.jpg);background-color:#0a041f;font-family:'Roboto',sans-serif;font-size:19px;}
header {margin:0 auto;text-align:center;padding:10px;}
header img#dynamic-header {margin: 0 auto;width:50%;}
nav {text-align:center;padding:10px;padding-top:0;}


h1, h2, h3, h4, h5, h6, li, p, div {text-align:center;}
h3, blockquote {color:#a1a1a1;}

a {font-weight:bold;text-decoration:none;color:white}
a figure:hover span.title {text-decoration:underline;}
div.block a {width:100%;margin:auto;}


div.block {width:50%;margin:0 auto;background-color:white;box-sizing:border-box;border-spacing:2px;padding:5px;margin-bottom:5px;overflow:auto;}
div.gallery {width:95%}
div.gallery img {width:250px}

figure {color:white;width:50%;margin:0 auto;backdrop-filter:blur(10px);display:flex;scrollbar-width:none;clip-path:polygon(0% 0%, calc(100% - 30px) 0%, 100% 30px, 100% 100%, 0% 100%);margin-top:5px;overflow:auto;}
figure.article {background-color:#00000080;}
figure.draft {background-color:#00000080;}
figure.page {background-color:#00000080;clip-path:none}
figure:active {box-shadow: inset #00000080 0px 5px 15px;}
figure a, figure.draft a {display:flex;width:100%}
figure.page a {color:white}
figure.page a span.date {color:#919191}
figure img {height:160px;float:left;border-radius:0}
figure div.article-content {display:flex;flex-direction:column;flex-grow:1;justify-content:space-between;padding-right:10px; word-wrap: break-word;}

button {font-family:'Roboto',sans-serif;font-weight:bold;padding:5px;border-width:0;border-radius:15px;text-decoration:none;background:linear-gradient(#ffffff80, #b8b8b880);color:white}
button:hover {cursor:pointer}
button:active {background:linear-gradient(#b8b8b880, #ffffff80);}
button:disabled {background:linear-gradient(to bottom, silver, dimgray, dimgray, silver);box-shadow:none;color:white;cursor:default;}

div.back {margin:auto;text-align:left;width:50%}
div.back button {border-bottom-left-radius:0;border-bottom-right-radius:0;background:#00000080;backdrop-filter:blur(10px);color:white}


article {background-color:#00000091;color:white;clip-path:polygon(0% 0%, calc(100% - 50px) 0%, 100% 50px, 100% 100%, 0% 100%);display:block;text-align:center;margin:10px auto;margin-top: 0;backdrop-filter:blur(10px);padding:1rem;width:50%;box-sizing:border-box;}
article.draft {background-color:#c5c5c580;}
article img {width:60%;}
article a {text-decoration:underline;}
article ul {padding:10px;}
article ul li {text-align:left;}
article ul dd {margin:auto 0;}


pre {overflow-x:auto;white-space:pre-wrap;word-wrap:break-word;font-size:15px;}
table.vis {border:1px solid white;border-collapse:collapse}
table.vis th, table.vis td {border:1px solid}
ul {list-style-type:circle;margin:0;padding:0;text-align:left}
dd {color:#a1a1a1}
img.btn {border:solid 1px white}
img.min {width:50%}
img.wide {width:100%}
hr {border-width:3px;border-radius:.25rem;border-style:solid;margin-left:5px;margin-right:5px}

div.articlelocked {box-shadow:none;border-color:#ffffff81;color:#ffffff81}
div.articlelocked:hover {cursor:help}

span.title {font-weight:bold;font-size:larger;text-align:left;padding:10px;padding-bottom:0;}
span.desc {font-style:italic;font-weight:normal;text-align:left;padding-left:10px;}
span.date {color:#a1a1a1;text-align:right;padding-bottom:10px;text-decoration:none;font-weight:bold;}

.left {float:left;margin-right:20px;}
.right {float:right;margin-left:20px;}
.hide {color:#a1a1a1}
.buttons {border-width:0px;background:none;}
.buttons img {border:solid 1px;border-radius:0;}

body.dir {text-align:left;max-width:550px;color:white}
body.dir a {color:white}
body.dir li {justify-content:center;vertical-align:middle;border-top:solid 1px white;text-align:left}
body.dir img {vertical-align:middle;width:30px}



@media (max-width:768px) {div.row div.block, div.row figure, div.back, article, header img#dynamic-header {width:95%;}}
@media (min-width:1500px) {div.row div.block, div.row figure, div.back, article, header img#dynamic-header {width:30%;}}
@media (max-width:450px) {figure{font-size:17px}}
@media (max-width:350px) {figure{font-size:15px}}